html,
body {
  height: 100%;
  width: 100%; }

body {
  font-family: Lato,'Helvetica Neue',Arial,sans-serif; }

hr {
  border-color: #00b4a4;
  border-width: 3px;
  max-width: 50px; }
  hr.light {
    border-color: #fff; }

a {
  color: #00b4a4;
  transition: all .35s; }
  a:hover, a:focus {
    color: #008176; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Lato,'Helvetica Neue',Arial,sans-serif; }

p {
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 20px;
  color: rgba(0, 0, 0, 0.8); }

.bg-primary {
  background-color: #fff; }

.bg-dark {
  background-color: #222;
  color: #fff; }

section {
  padding: 100px 0; }

aside {
  padding: 50px 0; }

.no-padding {
  padding: 0; }

.navbar-default {
  background-color: #fff;
  border-color: rgba(34, 34, 34, 0.05);
  font-family: Lato,'Helvetica Neue',Arial,sans-serif;
  transition: all .35s; }
  @media (min-width: 769px) {
    .navbar-default {
      background-color: transparent;
      border-color: rgba(255, 255, 255, 0.3); }
      .navbar-default.affix {
        background-color: #fff;
        border-color: rgba(34, 34, 34, 0.05); }
        .navbar-default.affix .nav > li > a {
          color: #222; }
        .navbar-default.affix .navbar-header .navbar-brand {
          fill: #00b4a4 !important; }
      .navbar-default .nav > li > a {
        color: #fff; }
      .navbar-default .navbar-header .navbar-brand {
        fill: #fff !important; } }
  .navbar-default .navbar-header .navbar-brand {
    display: inline-block;
    fill: #00b4a4;
    opacity: .8;
    padding: 8px 15px; }
    .navbar-default .navbar-header .navbar-brand:hover, .navbar-default .navbar-header .navbar-brand:focus {
      opacity: 1; }
  .navbar-default .nav > li.active > a {
    background-color: #fff;
    color: #00b4a4; }
  .navbar-default .nav > li.active:hover, .navbar-default .nav > li.active:focus {
    background-color: transparent; }
  .navbar-default .nav > li > a {
    color: #222;
    font-size: 13px;
    font-weight: 700;
    text-transform: uppercase; }
    @media (min-width: 769px) {
      .navbar-default .nav > li > a {
        color: rgba(255, 255, 255, 0.7); } }
    .navbar-default .nav > li > a:hover, .navbar-default .nav > li > a:focus {
      color: #00b4a4; }
      @media (min-width: 769px) {
        .navbar-default .nav > li > a:hover, .navbar-default .nav > li > a:focus {
          color: #fff; } }

header {
  background: linear-gradient(to right, #1e5799 0%, #1c4456 0%, #00b4a4 100%);
  color: #fff;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#1e5799', endColorstr='$evolve',GradientType=1);
  min-height: auto;
  position: relative;
  text-align: center;
  width: 100%; }
  @media (min-width: 769px) {
    header {
      min-height: 100%; } }
  header .header-content {
    padding: 100px 15px;
    position: relative;
    text-align: center;
    width: 100%; }
    @media (min-width: 769px) {
      header .header-content {
        padding: 0 50px;
        position: absolute;
        top: 50%;
        transform: translateY(-50%); } }
    @media (min-width: 769px) {
      header .header-content .header-content-inner {
        margin-left: auto;
        margin-right: auto;
        max-width: 1000px; } }
    header .header-content .header-content-inner h1 {
      font-weight: 100;
      margin-bottom: 0;
      margin-top: 0;
      text-transform: uppercase; }
    header .header-content .header-content-inner hr {
      margin: 30px auto; }
    header .header-content .header-content-inner p {
      color: rgba(255, 255, 255, 0.7);
      font-size: 16px;
      font-weight: 300;
      margin-bottom: 50px; }
      @media (min-width: 769px) {
        header .header-content .header-content-inner p {
          font-size: 18px;
          margin-left: auto;
          margin-right: auto;
          max-width: 80%; } }

.evolve-side-nav {
  display: none; }
  @media (min-width: 992px) {
    .evolve-side-nav {
      display: block; }
      .evolve-side-nav:hover {
        border-left: 3px solid #00b4a4; }
      .evolve-side-nav > li {
        border-left: 3px solid transparent;
        list-style-type: none;
        padding-left: 15px; }
        .evolve-side-nav > li > a {
          color: rgba(0, 0, 0, 0.8);
          font-size: 12px;
          text-decoration: none; }
          .evolve-side-nav > li > a h2 {
            font-size: 16px; }
          .evolve-side-nav > li > a > ul > li {
            list-style-type: none; } }

.section-heading {
  color: rgba(0, 0, 0, 0.8);
  font-size: 40px;
  font-weight: 300;
  margin: 0 0 30px; }

.style-heading h3 {
  color: rgba(0, 0, 0, 0.8);
  margin: 0 0 30px; }
.style-heading p {
  color: rgba(0, 0, 0, 0.8);
  margin: 0 0 30px; }

.style-block {
  margin-bottom: 30px; }
  .style-block span {
    display: block;
    padding-top: 37%;
    text-align: center; }
  .style-block p {
    display: block;
    padding-top: 45%;
    text-align: center; }
  .style-block .dark-color-font {
    color: rgba(0, 0, 0, 0.8); }
  .style-block .color-circle {
    border-radius: 50px;
    float: left;
    height: 86px;
    margin: 0 4% 60px;
    width: 86px; }
  .style-block .c-orchid {
    background-color: #91268f; }
  .style-block .c-echo {
    background-color: #d65277; }
  .style-block .c-voice {
    background-color: #f7931d; }
  .style-block .c-link {
    background-color: #8cc63e; }
  .style-block .c-link-secondary {
    background-color: #d6df23; }
  .style-block .c-view-default {
    background-color: #54a8dc; }
  .style-block .c-view {
    background-color: #27a9e1; }
  .style-block .c-view-secondary {
    background-color: #00abc4; }
  .style-block .c-evolve {
    background-color: #00b4a4; }
  .style-block .c-evolve-dark {
    background-color: #008176; }
  .style-block .c-c-grey {
    background-color: #999; }
  .style-block .c-cipher-bg {
    background-color: #f3f3f3; }
  .style-block .c-cipher-dropdown {
    background-color: #898989; }
  .style-block .c-issue-color {
    background-color: #da4f49; }
  .style-block .c-overdue-tasks-color {
    background-color: #da4f49; }

.service-box {
  margin: 50px auto 0;
  max-width: 400px; }

@media (min-width: 992px) {
  .service-box {
    margin: 20px auto 0; } }
.service-box p {
  margin-bottom: 0; }

.portfolio-box {
  display: block;
  position: relative;
  margin: 0 auto;
  max-width: 650px; }

.portfolio-box .portfolio-box-caption {
  display: block;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  color: #fff;
  opacity: 0;
  background: rgba(240, 95, 64, 0.9);
  -webkit-transition: all .35s;
  -moz-transition: all .35s;
  transition: all .35s; }

.portfolio-box .portfolio-box-caption .portfolio-box-caption-content {
  position: absolute;
  top: 50%;
  width: 100%;
  text-align: center;
  transform: translateY(-50%); }

.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-category,
.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-name {
  padding: 0 15px;
  font-family: Lato,'Helvetica Neue',Arial,sans-serif; }

.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-category {
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 600; }

.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-name {
  font-size: 18px; }

.portfolio-box:hover .portfolio-box-caption {
  opacity: 1; }

@media (min-width: 768px) {
  .portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-category {
    font-size: 16px; }

  .portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-name {
    font-size: 22px; } }
.call-to-action h2 {
  margin: 0 auto 20px; }

.text-primary {
  color: #00b4a4; }

.no-gutter > [class*=col-] {
  padding-right: 0;
  padding-left: 0; }

.btn-default {
  border-color: #fff;
  color: #222;
  background-color: #fff;
  -webkit-transition: all .35s;
  -moz-transition: all .35s;
  transition: all .35s; }

.btn-default:hover,
.btn-default:focus,
.btn-default.focus,
.btn-default:active,
.btn-default.active,
.open > .dropdown-toggle.btn-default {
  border-color: #ededed;
  color: #222;
  background-color: #f2f2f2; }

.btn-default:active,
.btn-default.active,
.open > .dropdown-toggle.btn-default {
  background-image: none; }

.btn-default.disabled,
.btn-default[disabled],
fieldset[disabled] .btn-default,
.btn-default.disabled:hover,
.btn-default[disabled]:hover,
fieldset[disabled] .btn-default:hover,
.btn-default.disabled:focus,
.btn-default[disabled]:focus,
fieldset[disabled] .btn-default:focus,
.btn-default.disabled.focus,
.btn-default[disabled].focus,
fieldset[disabled] .btn-default.focus,
.btn-default.disabled:active,
.btn-default[disabled]:active,
fieldset[disabled] .btn-default:active,
.btn-default.disabled.active,
.btn-default[disabled].active,
fieldset[disabled] .btn-default.active {
  border-color: #fff;
  background-color: #fff; }

.btn-default .badge {
  color: #fff;
  background-color: #222; }

.btn-primary {
  border-color: #00b4a4;
  color: #fff;
  background-color: #00b4a4;
  -webkit-transition: all .35s;
  -moz-transition: all .35s;
  transition: all .35s; }

.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
  border-color: #ed431f;
  color: #fff;
  background-color: #ee4b28; }

.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
  background-image: none; }

.btn-primary.disabled,
.btn-primary[disabled],
fieldset[disabled] .btn-primary,
.btn-primary.disabled:hover,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary:hover,
.btn-primary.disabled:focus,
.btn-primary[disabled]:focus,
fieldset[disabled] .btn-primary:focus,
.btn-primary.disabled.focus,
.btn-primary[disabled].focus,
fieldset[disabled] .btn-primary.focus,
.btn-primary.disabled:active,
.btn-primary[disabled]:active,
fieldset[disabled] .btn-primary:active,
.btn-primary.disabled.active,
.btn-primary[disabled].active,
fieldset[disabled] .btn-primary.active {
  border-color: #00b4a4;
  background-color: #00b4a4; }

.btn-primary .badge {
  color: #00b4a4;
  background-color: #fff; }

.btn {
  border: 0;
  border-radius: 300px;
  text-transform: uppercase;
  font-family: Lato,'Helvetica Neue',Arial,sans-serif;
  font-weight: 700; }

.btn-xl {
  padding: 15px 30px; }

::-moz-selection {
  text-shadow: none;
  color: #fff;
  background: #222; }

::selection {
  text-shadow: none;
  color: #fff;
  background: #222; }

img::selection {
  color: #fff;
  background: 0 0; }

img::-moz-selection {
  color: #fff;
  background: 0 0; }

body {
  webkit-tap-highlight-color: #222; }
