
<div class="row">
  <div class="col-md-12">
    <h2 class="section-heading">COLORS</h2>
  </div>
</div>
<div class="row">
  <div class="col-md-12 style-heading">
    <h3>Product</h3>
    <p>These are the main colors used in our product suite</p>
  </div>
  <div class="col-md-12 style-block">
    <div class="color-circle c-orchid">
      <span>#91268F</span>
      <p>$orchid</p>
    </div>
    <div class="color-circle c-echo">
      <span>#D65277</span>
      <p>$echo</p>
    </div>
    <div class="color-circle c-voice">
      <span>#F7931D</span>
      <p>$voice</p>
    </div>
    <div class="color-circle c-link">
      <span>#8CC63E</span>
      <p>$link</p>
    </div>
    <div class="color-circle c-link-secondary">
      <span>#D6DF23</span>
      <p>$link-secondary</p>
    </div>
    <div class="color-circle c-view-default">
      <span>#54A8DC</span>
      <p>$view-default</p>
    </div>
    <div class="color-circle c-view">
      <span>#27A9E1</span>
      <p>$view</p>
    </div>
    <div class="color-circle c-view-secondary">
      <span>#00ABC4</span>
      <p>$view-secondary</p>
    </div>
    <div class="color-circle c-evolve">
      <span>#D65277</span>
      <p>$evolve</p>
    </div>
    <div class="color-circle c-evolve-dark">
      <span>#27A9E1</span>
      <p>$evolve-dark</p>
    </div>
    <div class="color-circle c-c-grey">
      <span>#F7931D</span>
      <p>$c-grey</p>
    </div>
    <div class="color-circle c-cipher-bg">
      <span class="dark-color-font">#8CC63E</span>
      <p>$cipher-bg</p>
    </div>
    <div class="color-circle c-cipher-dropdown">
      <span>#D6DF23</span>
      <p>$cipher-dropdown</p>
    </div>
    <div class="color-circle c-issue-color">
      <span>#54A8DC</span>
      <p>$issue-color</p>
    </div>
    <div class="color-circle c-overdue-tasks-color">
      <span>#00ABC4</span>
      <p>$overdue-tasks-color</p>
    </div>
  </div>
</div>
