<div class="row">
  <div class="col-md-12">
    <ul class="evolve-side-nav">
        <li>
            <a href="#">
            <h2>Color</h2>
            <ul>
                <li>Main Cipherhealth Colors</li>
                <li>Product Colors</li>
                <li>Secondary Colors</li>
                <li>Flags and Additional Colors</li>
            </ul>
            </a>
        </li>
        <li>
            <a href="#">
            <h2>Typography</h2>
            <ul>
                <li>Headings</li>
                <li>Paragraphs</li>
            </ul>
            </a>
        </li>
        <li>
            <a href="#">
            <h2>Shapes</h2>
            <ul>
                <li>Fill</li>
                <li>Using Drop Shadows</li>
                <li>Corners and Round Shapes</li>
            </ul>
            </a>
        </li>
        <li>
            <a href="#">
            <h2>Layout</h2>
            <ul>
                <li>Container</li>
                <li>Grid</li>
                <li>Navigation</li>
                <li>Left Side Items</li>
                <li>Right Side Items</li>
                <li>Responsiveness</li>
                <li>Headers</li>
                <li>Tables</li>
                <li>Sidebars</li>
            </ul>
            </a>
        </li>
        <li>
            <a href="#">
            <h2>Buttons and Links</h2>
            <ul>
                <li>Forms</li>
                <li>Tags</li>
                <li>Navigation</li>
            </ul>
            </a>
        </li>
    </ul>
  </div>
</div>
